.app {
    display: flex;
}
.sidebar {
    height: 100hv;
    width: 25%;
}
.sidebar-form{
    padding: 20px;
}
.sidebar-form > input {
    padding: 15px 10px;
    border: 1px solid #000;
    border-radius: 5px;
    width: 100%;
}
.sidebar-form > button {
    padding: 15px 0;
    width: 100%;
    border-radius: 5px;
    color: #fff;
    background: #000;
    margin-top: 10px;
}
.sidebar-result {
    height: calc(100vh - 144px);
    overflow: auto;
    padding: 20px;
}
.sidebar-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
}
.sidebar-item:last-child {
    margin-bottom: 0;
}
.sidebar-item > h2 {
    font-size: 18px;
    margin-bottom: 15px;

}
.sidebar-item > p {
    text-transform: uppercase;
    font-style: italic;
}
.map {
    width: 75%;
    height: 100vh;
}